 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/image3.png");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 65px;
  margin: 168px 272px 0 auto;
}

.u-section-1 .u-text-1 {
  width: 420px;
  margin: 287px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 526px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 28px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-text-1 {
    width: 396px;
  }

  .u-section-1 .u-text-2 {
    width: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 195px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 274px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 22px;
    margin-right: 22px;
  }
} .u-section-2 {
  min-height: 316px;
}

.u-section-2 .u-map-1 {
  height: 314px;
  margin-top: 1px;
  margin-bottom: 1px;
}