.u-section-1 .u-sheet-1 {
  min-height: 232px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 97px;
  margin: 13px auto 0 325px;
}

.u-section-1 .u-image-2 {
  width: 372px;
  height: 55px;
  margin: -62px auto 0 443px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: 32px -10px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 225px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 29px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -55px;
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 45px 29px 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-image-1 {
    width: 71px;
    height: 73px;
    margin-top: 62px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-2 {
    width: 220px;
    height: 37px;
    margin-top: -44px;
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 46px;
    margin-bottom: 25px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 276px 67px 0;
}

.u-section-2 .u-text-2 {
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }
}