 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/image3.png");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 980px;
  height: 143px;
  margin: 124px auto 0;
}

.u-section-1 .u-text-1 {
  width: 398px;
  margin: 683px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 526px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 8px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 940px;
    height: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 50px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 711px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 236px;
}

.u-section-2 .u-map-1 {
  height: 236px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }
}